:root {
  --title-font: "Playfair Display", serif;
  --second-font: "Roboto", sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("../img/beyonce1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 205px 0;
  text-align: center;
}

header h1 {
  font-family: var(--title-font);
  color: white;
  font-size: 128px;
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: 700;
  line-height: normal;
}

header h2 {
  font-family: var(--second-font);
  font-size: 40px;
  font-weight: 400;
  color: white;
  margin: 0 auto;
  margin-bottom: 20px;
  line-height: normal;
}

header h3 {
  font-family: var(--second-font);
  font-size: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
  margin: 0 auto;
  font-weight: 900;
  line-height: normal;
}

.btn {
  color: white;
  font-family: var(--second-font);
  font-weight: 500;
  font-size: 16px;
  background-color: #8e58e5;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 100px;
  display: inline-block;
  max-width: 70%;
}

.grid {
  display: grid;
  grid-gap: 32px;
}

.grid-2-col {
  grid-template-columns: 1fr 1fr;
}

.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-footer {
  grid-template-columns: 1fr 2fr 2fr;
}

.img-resp {
  width: 100%;
  display: block;
}

main h2 {
  font-family: var(--title-font);
  color: #272044;
  font-size: 48px;
  line-height: normal;
  margin: 0 auto;
}

main h4 {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #462cb2;
  background-color: rgba(136, 93, 241, 0.1);
  margin: 10px auto;
}

main p {
  font-family: var(--second-font);
  font-size: 13px;
  color: #272044;
  opacity: 0.7;
  text-align: left;
  line-height: 1.5;
}

.why-bync {
  margin-right: 100px;
}

section.secondary {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 100px;
}

section.fav-songs {
  background-image: linear-gradient(rgba(3, 5, 4, 0.7), rgba(3, 5, 4, 0.9)),
    url(".//img/beyonce3.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 100px;
}

.fav-songs h2 {
  color: white;
  margin: 0 auto;
}

.fav-songs h3 {
  font-family: var(--second-font);
  font-size: 24px;
  color: #272044;
}

.fav-songs h5 {
  font-family: var(--second-font);
  font-size: 13px;
  letter-spacing: 5px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  display: inline-block;
}

.fav-songs p,
h6 {
  font-family: var(--second-font);
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  margin: 10px 0;
}

.fav-songs a {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.card {
  background: white;
  margin: 30px 0;
  border-radius: 15px;

  img {
    border-radius: 15px 15px 0 0;
  }
}

.card-body {
  padding: 10px;
}

footer {
  background-image: linear-gradient(rgba(2, 4, 4, 0.5), rgba(2, 4, 4, 1)),
    url("../img/beyonce7.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 0 100px;
}

footer h3 {
  font-size: 20px;
  line-height: 1.5;
}

footer ul,
p {
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  line-height: 24px;
  opacity: 0.7;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#coded {
  font-size: 14px;
  opacity: 0.8;
  padding: 10px;
}

@media (max-width: 900px) {
  body {
    text-align: center;
  }

  header {
    padding: 100px 0;
  }

  header h1 {
    font-size: 40px;
  }

  header h2 {
    font-size: 16px;
  }

  header h3 {
    font-size: 12px;
  }

  header a {
    padding: 6px 12px;
    font-size: 8px;
  }

  section {
    margin: 30px;
  }

  section.secondary {
    padding: 0 30px;
  }

  section.fav-songs {
    padding: 0 30px;
  }

  section p {
    text-align: center;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  .why-bync {
    margin: 0 auto;
  }

  .img-resp {
    margin: 0 auto;
    max-width: 60%;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 21/9;
  }

  #coded {
    font-size: 10px;
  }

  footer {
    padding: 50px 0;
  }
}
